body {
    height: 100vh;
    width: 100vw;
}

#input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 70px;
}

#input > form {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;

}

#input > form > label {
    text-align: center;
}

#cards {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr) );
    grid-template-rows: auto;
    margin: 30px;
    gap: 30px;
}

#submit {
    margin-top: 20px;
}

.bookcard {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    border: 1px solid blue;
    border-radius: 1.25rem;
    padding: 1rem;  
}

.readBtn {
    border: 2px solid red;
    border-radius: 1.25rem;
    background: none;
    width: 7rem;
    height: 3rem;
    align-self: center;    
    text-align: center;
}
